*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
}
body{
    background-color: #FEFCF7;
}

li, a{
    text-decoration: none;
    list-style-type: none;
}
main{
    padding-top: 40px;
}

.section__three{
    padding-bottom: 300px;
}

.our-headquarters{
    padding-bottom: 200px;
}

.coffe__shop{
    padding-bottom: 200px;
}