$main-bg: #f2f2f2;
$main-card-button: #0e8784;
$main-bg-dark: #333d4b;
$main-light: #fefcf7;
$main-hover0: #83888f;
$main-hover: #333D4B;
$main-button-hover: #66d2cf;
$main-button-disabled: #e2dedb;
$main-Big-Selection-Option-Default: #f4f1eb;
$main-Big-Selection-Option-hover: #fdd6ba ;$main-Big-Selection-Option-active:#0e8784;
