// @media only screen and (max-width: 992px){
//     .header{
//         width: 100%;
//     }
// }
// @media only screen and (max-width: 768px){
//     .header{
//         width: 100%;
//     }
// }
// @media only screen and (max-width: 576px){
//     .header{
//         width: 100%;
//     }
// }
// @media only screen and (max-width: 480px){
//     .header{
//         width: 100%;
//     }
// }
// @media only screen and (max-width: 375px){
//     .header{
//         width: 100%;
//     }
// }
.header{
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #FEFCF7;
    align-items: center;
    z-index: 111;
    opacity: 0.9;

}